<?xml version="1.0" encoding="ISO-8859-1" ?>
<rss version="2.0">

    <channel>
        <title>We Love Public Service - VHS</title>
        <link>http://vhs.welovepublicservice.se/</link>
        <description>Free web building tutorials</description>
        {% for item in notifications %}
            {% if item.left.torrent_url %}
            <item>
                <title>{{ item.right.title }}</title>
                <link>{{ item.left.torrent_url }}</link>
                <description>{{ item.right.title }}</description>
            </item>
            {% endif %}
        {% endfor %}
    </channel>

</rss>