{% extends 'popup.html' %}

{% load url from future %}
{% load timestamp_to_time %}

{% block content %}
    <h1>
        Lite statistik
    </h1>

    <table class="table sortable">
        <thead>
        <tr>
            <th>Avsnitt</th>
            <th>State</th>
            <th>Ködatum</th>
            <th>Torrent</th>
        </tr>
        </thead>
        <tbody>
        {% for item in notifications %}
            <tr class="{{ item.right.state|floatformat:"0"|int_to_boostraptable }}">
                <td><a href="{{ item.right.url }}">{{ item.right.title }}</a></td>
                <td>{{ item.right.state|floatformat:"0" }}</td>
                <td>{{ item.left.date_added|timestamp_to_time|date:"D d M Y"  }}</td>
                <td>{% if item.left.torrent_url %}<a href="{{ item.left.torrent_url }}">Download</a>{% endif %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <p>
    State:
    <ol>
    <li>1: Köad</li>
    <li>2: Skickad till små, små robotar för inspelning</li>
    <li>3: Inspelning påbörjad</li>
    <li>4: Klart! =)</li>
    </ol>
    </p>
{% endblock %}