{% extends 'popup.html' %}

{% load url from future %}
{% load timestamp_to_time %}

{% block content %}
    <h1>
        Lite statistik
    </h1>

    <p>
        Här trillar alla inspelningar ut, även andra användares, det är mest för att vi ska ha koll på hur saker
        och ting mår.
    </p>

    <table class="table sortable">
        <thead>
        <tr>
            <th>Avsnitt</th>
            <th>State</th>
            <th>Ködatum</th>
            <th>Torrent</th>
        </tr>
        </thead>
        <tbody>
        {% for item in notifications %}
            {% if item.right.state == 4 %}
                {% if item.left.torrent_url %}
                    {% include 'video/tr.html' %}
                {% endif %}
            {% else %}
                {% include 'video/tr.html' %}
            {% endif %}
        {% endfor %}
        </tbody>
    </table>

    <p>
    State:
    <ol>
    <li>1: Köad</li>
    <li>2: Skickad till små, små robotar för inspelning</li>
    <li>3: Inspelning påbörjad</li>
    <li>4: Klart! =)</li>
    </ol>
    </p>
{% endblock %}